.App {
  text-align: center;
  background-color: #282c34;
  height: 100%;
  padding-top: 5%;
}

.poke-title {
  font-size: 54px;
  color: #fff;
}

.poke-search-input {
  font-size: 30px;
  background-color: #ddd;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #eee;
  height: 40px;
  width: 400px;
}

.pokemon-grid {
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}
.pokemon-grid-card {
  height: 400px;
  width: 400px;
  margin-right: 20px;
  border: 1px solid white;

  .pokemon-grid-card-image {
    padding-top: 10%;
    height: 250px;
    width: 250px;
    cursor: pointer;
  }

  p {
    font-size: 20px;
    color: #fff;
  }
}

.pokemon-profile-card {
  // background-color: pink;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .pokemon-profile-name {
    font-size: 46px;
    color: #fff;
  }

  .pokemon-profile-card-type-tags {
    font-weight: 700;
    width: 30%;
    font-size: 26px;
    border: 1px solid #fff;
    padding: 2px;
    margin: 2px;
    align-self: center;
    border-radius: 5px;
  }

  .pokemon-profile-imgs {
    flex-direction: row;
  }
  img {
    height: 20rem;
    width: 20rem;
  }
  .pokemon-profile-stats-table {
    color: #fff;
    font-size: 26px;
    width: 60%;
    align-self: center;
  }

  .pokemon-profile-return-btn {
    position: absolute;
    left: 5%;
    top: 5%;
    font-weight: 400;
    border: 1px solid transparent;
    cursor: pointer;
    height: 40px;
    padding: 4px 15px;
    font-size: 20px;
    border-radius: 2px;
    border-color: #d9d9d9;
    background: #fff;
  }
}
